@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom properties */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;

  --clr-light: #FFFBFE;
  --clr-dark: #565254;
  --clr-accent: #7A7D7D;

  --background: #FFFBFE;

  --fw-bold: 900;

  --fs-h1: 1rem;

  --bs-default: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-dark);
}

/* Preview markup styles */
h1 {
  border-bottom: 0.1em solid #000;
}
h2 {
  border-bottom: 0.05em solid #000;
}
table,
tr,
th,
td {
  border: 0.1em solid #000;
  border-collapse: collapse;
}
blockquote {
  border-left: 0.25em solid #000;
  padding-left: 0.5em
}
code,
pre {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
img {
  max-width:100%;
  height: auto;
  display:block;
}

/* Sections */

.editor {
  margin: 0 auto;
  margin-bottom: 1.5em;
  display: grid;
  box-shadow: var(--bs-default);
  width: 90vw;
  grid-template-rows: 2em minmax(min-content, 15em);
}

.previewer {
  margin: 0 auto;
  margin-bottom: 1.5em;
  display: grid;
  box-shadow: var(--bs-default);
  width: 95vw;
  grid-template-rows: 2em minmax(min-content, 15em);
}

@media (min-width: 40em) {
  .editor {
    width: 80vw;
  }
  
  .previewer {
    width: 90vw;
  }
}

@media (min-width: 60em) {  
  .editor {
    width: 45em;
  }

  .previewer {
    width: 50em;
  }
}

.editor--fullscreen {
  width: 96vw;
  grid-template-rows: 2em 95vh;
	position: absolute;
	top: 0;
  z-index: 1000;
  margin-top: 0.5em;
  background-color: var(--clr-light);
}

.previewer--fullscreen {
  width: 96vw;
	grid-template-rows: 2em auto;
	position: absolute;
	top: 0;
  z-index: 1000;
  margin-top: 0.5em;
  background-color: var(--clr-light);
}

/* Section header */

header {
  display:grid;
  grid-template-columns: 2em auto 1.5em;
  height: 2em;
  background: var(--clr-accent);
  padding: 0.45em 0 0 0.5em;
  margin: 0;
  color: #fff;
  border: 0.05em solid #000;
  box-shadow: var(--bs-default);           
  z-index: 2;
}

.icon {
  font-size: var(--fs-h1);
}

.icon-action:hover {
  color: var(--clr-dark);
  cursor: pointer;
}

.section-title {
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  padding: 0;
  margin: 0;
  border: 0;
}

/* Editor / Preview */

#editor,
#preview {
  background-color: var(--clr-light);
  margin: 0;
  padding: 0.5em;
  border: 0.05em solid #000;
  border-top: 0;
  outline:0;
}